* {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* ---HEADER--- */

.title {
  font-size: 50px;
  color: white;
}


/* ---BODY--- */

.btn-container {
  width: 100%;
}

button {
  border-radius: 0.9rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: none;
}

button:hover {
  background-color: #df2ba9;
  cursor: pointer;
  color: #fff;
}

.sub-header {
  display: flex;
}

.page-container {
  min-height: 100vh;
  background-color: #FFE7F7;
  background-size: cover;
}

.input-section {
  min-height: 60dvh;
  background-color: #FFB1E7;
  border-radius: 0.5rem;
  color: #fff;
  margin-left: 200px;
  margin-right: 200px;
  padding: 1rem;
}

.user-input {
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  height: 15dvh;
  width: 90%;
  background-color: #FFB1E7;
}

.input-parent {
  display: flex;
  justify-content: center;
}

input {
  color: #fff;
}

.translated-word {
  color: #df2ba9;
}

/* ---FOOTER--- */

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 3rem;
}

/* ---MEDIA QUERIES--- */

@media only screen and (max-width: 650px) {
 
  .user-input {
    font-size: 1rem;
    height: 5rem;
    padding: 1rem;
    text-align: center;
    width: 90%;
  }
}
